* {
  box-sizing: border-box;
}

img {
  shadow: 2px #02010a
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  overflow: hidden; /* importada de https://www.w3schools.com/howto/howto_css_responsive_header.asp*/
  border-radius: 10px 10px 0 0;
  background-color: #5b7989;
  padding:; /* no estoy seguro   ESTABA EN 30*/
  text-align:;
  text-shadow: 2px;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header h1 {
  float: left;
}

.header a {
  float: right;
  color: white;
}

.header li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.imagencentral {
  border:;
  margin:;
  padding:;
}

#imagencentral img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border:;
  margin:;
  padding:50px;

}


.imagensecundaria{
  border: 0px;
}


/* Container for flexboxes---equivale a FILA .row */
.imagensec-row {
  border: 1px;
  background-color: #d5c75f;
  display: -webkit-flex;
  display: flex;
  flex-direction:;
  text-align: center;
}

.imagensec-row img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  padding:50px;
}

imagensec-row p{
  align: center;
  text-align: center;
}


/* Create two equal columns that sit next to each other---- COLUMNAS*/
 .imagensec-column {
  -webkit-flex: 10;
  -ms-flex: 10;
  flex: 10;
  padding: 10px;
  height: 300px;   /* Should be removed. Only for demonstration */

}


/* Style the footer */
.footer {
  background-color: #c6d5c5;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  text-align:;
}

.footer-row {    /* la FILA del FOOTER */
  display: -webkit-flex;
  display: flex;
}


.footer-column {
  -webkit-flex: 10;
  -ms-flex: 10;
  flex: 10;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  display: block;
  list-style-type: none;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
